/**
 * Global: Variables.
 * -----------------------------------------------------------------------------
 *
 */

 @font-face {
  font-display: swap;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
}

:root {
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;

  --colour-background-now-playing: #301934;
  --colour-now-playing-gradient-start: #181229;
  --colour-now-playing-gradient-end: #4b2455;
  --colour-now-playing-text: #f6f4ff;
  --colour-now-playing-icon: #c8bbde;
  --colour-now-playing-divider: rgba(255, 255, 255, 0.16);
  --colour-now-playing-progress-overlay: rgba(255, 255, 255, 0.55);
  --color-text-primary: #fff;
  --colour-text-secondary: #000;
  --color-brand-spotify: #1DB954;

  --font-size-base: 16px;

  --font-body: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  --font-weight-body: 400;
  --font-weight-heading: 900;

  --body-line-height: 1.1;
}
